.board-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 68vw;
  height: 100vh;
}

.boards-wrapper {
  padding: 20px;
  width: 32vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.selected {
  transition: all;
  border: 5px solid #469C98;
  border-radius: 5px;
  background: white;
  padding: 10px;
}